@charset "UTF-8";
::selection {
  background: #1bba9e;
  color: #fff; }

@font-face {
  font-family: 'iconfont';
  /* project id 186524 */
  src: url("//at.alicdn.com/t/font_t3mzhuhyrbsatt9.eot");
  src: url("//at.alicdn.com/t/font_t3mzhuhyrbsatt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_t3mzhuhyrbsatt9.woff") format("woff"), url("//at.alicdn.com/t/font_t3mzhuhyrbsatt9.ttf") format("truetype"), url("//at.alicdn.com/t/font_t3mzhuhyrbsatt9.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

* {
  margin: 0;
  padding: 0; }

body, html {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei",SimSun,sans-serif;
  z-index: -1000;
  background: #f5f2eb; }

#header {
  position: relative;
  width: 9.8rem;
  height: 2rem;
  margin: 0 auto 1.5rem; }
#header .logo {
  position: absolute;
  top: 0.7rem;
  left: 0.4rem;
  width: 0.6rem;
  height: 0.9rem;
  background: url(../images/logo3.png) no-repeat center center;
  background-size: 100% 100%; }
#header .header_nav1 {
  width: 100%;
  height: 0.35rem;
  padding-top: 0.15rem; }
#header .header_nav1 li {
  float: right;
  width: 0.7rem;
  height: 0.2rem; }
#header .header_nav1 li a {
  display: block;
  float: right;
  width: 0.7rem;
  height: 0.2rem;
  margin-right: 0.2rem;
  font-size: 0.12rem;
  line-height: 0.2rem;
  text-align: center;
  text-decoration: none;
  color: #3c3c3c; }
#header .header_nav2 {
  float: right;
  margin-top: 0.2rem;
  width: auto !important;
  min-width: 6rem;
  width: 6rem;
  height: 1.6rem; }
#header .header_nav2 li {
  float: left;
  width: 0.9rem;
  width: auto !important;
  min-width: 0.9rem;
  height: 1.6rem;
  overflow: hidden; }
#header .header_nav2 li .level1 {
  display: block;
  float: left;
  width: 0.9rem;
  height: 1.6rem;
  box-sizing: border-box;
  color: #424242; }
#header .header_nav2 li .level2 {
  display: block;
  float: left;
  width: 0;
  height: 1.6rem;
  writing-mode: tb-rl;
  box-sizing: border-box;
  color: #424242;
  text-align: center;
  text-decoration: none;
  font-size: 0.14rem;
  line-height: 0.2rem;
  text-align: center;
  overflow: hidden; }

#header .header_nav2 li .level1 .nav_title {
  width: 0.4rem;
  height: 80%;
  padding-top: 20%;
  margin: 0 auto; }
#header .header_nav2 li .level1 .nav_title h1 {
  float: left;
  width: 0.2rem;
  height: 100%;
  margin: 0;
  font-size: 0.18rem;
  line-height: 0.2rem; }
#header .header_nav2 li .level1 .nav_title h5 {
  float: left;
  width: 0.2rem;
  height: 0.2rem;
  margin: 0;
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 0.12rem;
  line-height: 0.2rem;
  text-indent: 0.5em;
  transform: rotate(90deg);
  transform-origin: center 0.1rem;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -ms-transform-origin: center 0.1rem;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  -webkit-transform-origin: center 0.1rem;
  /* Safari and Chrome */ }

#header .header_nav2 li:hover {
  border-top: 5px solid #8c8c8c;
  border-radius: 0 0 0.1rem 0.1rem;
  color: white;
  background: rgba(0, 0, 0, 0.7) url(../images/nav_bg.png) no-repeat right bottom; }

#header .header_nav2 li:hover a {
  color: white; }

#main {
  width: 9.8rem;
  height: 6rem;
  height: auto !important;
  min-height: 6rem;
  margin: 0 auto;
  overflow: hidden; }
#main .main_left {
  height: 2.8rem;
  height: auto !important;
  min-height: 2.8rem; }
#main .main_left .t_nav_list {
  width: 100%;
  height: 2rem;
  height: auto !important;
  min-height: 2rem;
  margin: 0; }
#main .main_left .t_nav_list li {
  float: right;
  width: 100%; }
#main .main_left .t_nav_list li a {
  display: inline-block;
  float: right;
  width: 50%;
  height: 0.32rem;
  text-align: center;
  border-bottom: 1px #3c3c3c dashed;
  line-height: 0.32rem;
  font-size: 0.14rem;
  color: #3c3c3c; }
#main .main_left .t_sub_imglist {
  width: 100%;
  height: 2.8rem;
  height: auto !important;
  min-height: 2.8rem;
  margin: 0; }
#main .main_left .t_sub_imglist li {
  position: relative;
  width: 100%;
  height: 1rem;
  padding: 0.05rem;
  margin: 0.1rem 0;
  background: white; }
#main .main_left .t_sub_imglist li img {
  display: block;
  width: 100%;
  height: 100%; }
#main .main_left .t_sub_imglist li span {
  display: block;
  z-index: 1000;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 60%;
  height: 0.3rem;
  font-family: "楷体";
  font-size: 0.2rem;
  font-weight: 600;
  line-height: 0.3rem;
  text-align: center; }
#main .main_right {
  height: 2.4rem;
  height: auto !important;
  min-height: 2.4rem; }
#main .main_right .t_sub_process {
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.14rem;
  border-bottom: 1px #1b1b1b solid;
  box-sizing: border-box; }
#main .main_right .t_sub_process span:nth-last-child(1) {
  color: #af370a; }
#main .main_right .t_sub_con {
  position: relative;
  width: 100%;
  height: 2.4rem;
  height: auto !important;
  min-height: 2.4rem;
  /**景区营销活动start**/
  /**景区营销活动end**/ }
#main .main_right .t_sub_con .t_sub_conlist {
  position: relative;
  display: block;
  width: 100%;
  height: 2.4rem;
  height: auto !important;
  min-height: 2.4rem;
  padding-bottom: 2rem;
  line-height: 2; }
#main .main_right .t_sub_con .t-sub_news .t_sub_conimg {
  width: 80%;
  height: 3rem;
  margin: 0.5rem auto; }
#main .main_right .t_sub_con .t-sub_news .t_sub_conimg img {
  display: block;
  width: 100%;
  height: 100%; }
#main .main_right .t_sub_con .t-sub_news .tw_news {
  width: 90%;
  height: 2.4rem;
  height: auto !important;
  min-height: 2.4rem;
  margin: 0 auto; }
#main .main_right .t_sub_con .t-sub_news .tw_news li {
  width: 100%;
  border-bottom: 1px dashed #ccc; }
#main .main_right .t_sub_con .t-sub_news .tw_news li a {
  display: block;
  width: 100%;
  height: 0.4rem;
  font-size: 0.14rem;
  line-height: 0.4rem;
  color: #333; }
#main .main_right .t_sub_con .t-sub_news .tw_news li a span:nth-child(1) {
  display: block;
  float: left; }
#main .main_right .t_sub_con .t-sub_news .tw_news li a span:nth-child(2) {
  display: block;
  float: right; }
#main .main_right .t_sub_con .actTitImg {
  width: 80%;
  height: 3rem;
  margin: 0 auto 0.5rem; }
#main .main_right .t_sub_con .actTitImg img {
  display: block;
  width: 100%;
  height: 100%; }
#main .main_right .t_sub_con .activity {
  width: 100%;
  height: 100%;
  padding-top: 0.5rem; }
#main .main_right .t_sub_con .activity .actConList {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  width: 100%;
  height: 1.4rem;
  padding: 0.1rem;
  margin: 0;
  border-bottom: 1px #3c3c3c dashed; }
#main .main_right .t_sub_con .activity .actConList dt {
  width: 1.2rem;
  height: 100%;
  padding: 0.1rem; }
#main .main_right .t_sub_con .activity .actConList dt img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.1rem; }
#main .main_right .t_sub_con .activity .actConList dd {
  flex: 1;
  height: 100%;
  padding: 0.1rem 0.1rem 0.1rem 0.2rem; }
#main .main_right .t_sub_con .activity .actConList dd h5 {
  width: 100%;
  height: 0.3rem;
  margin: 0;
  padding: 0;
  font-size: 0.18rem;
  font-weight: 600;
  line-height: 0.2rem;
  color: #af370a; }
#main .main_right .t_sub_con .activity .actConList dd p:nth-of-type(1) {
  width: 100%;
  height: 0.4rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 0.14rem;
  line-height: 0.2rem;
  color: #999; }
#main .main_right .t_sub_con .activity .actConList dd p:nth-of-type(2) {
  width: 100%;
  height: 0.3rem;
  margin: 0;
  padding: 0;
  font-size: 0.14rem;
  line-height: 0.3rem;
  color: #af370a; }
#main .main_right .t_sub_con .activity .actConList dd p:nth-of-type(2) span {
  float: left;
  display: inline-block;
  color: #333; }
#main .main_right .t_sub_con .activity .actConList dd p:nth-of-type(2) a {
  float: right;
  display: inline-block;
  color: #AF370A; }

#footer {
  width: 100%;
  height: 1.7rem;
  font-family: arial,\5b8b\4f53; }
#footer .footer_box {
  width: 9.8rem;
  height: 1.7rem;
  margin: 0 auto;
  font-family: "微软雅黑";
  color: #7d7159; }
#footer .footer_box h3 {
  width: 100%;
  height: 0.3rem;
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  font-size: 0.14rem;
  border-bottom: 1px #7d7159 solid; }
#footer .footer_box h3 strong, #footer .footer_box h3 a {
  display: block;
  float: left;
  margin-right: 0.06rem;
  margin-top: 0.05rem;
  line-height: 0.2rem;
  font-weight: 400;
  color: #7d7159; }
#footer .footer_box h3 a {
  color: #7d7159; }
#footer .footer_box .footer_con {
  width: 100%;
  height: 1.2rem; }
#footer .footer_box .footer_con .footer_con_left {
  float: left;
  width: 4.8rem;
  height: 1.2rem; }
#footer .footer_box .footer_con .footer_con_left p {
  float: left;
  width: 100%;
  font-size: 12px;
  line-height: 0.2rem;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  text-align: justify; }
#footer .footer_box .footer_con .footer_con_right {
  float: left;
  width: 4.3rem;
  height: 0.8rem;
  margin-left: 0.7rem; }
#footer .footer_box .footer_con .footer_con_right img {
  display: block;
  width: 100%;
  height: 100%; }

#t_bg_top {
  z-index: -1111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background: -webkit-linear-gradient(top, #10cec0 0%, #f5f2eb 50%, #f5f2eb 100%) no-repeat;
  background: -moz-linear-gradient(top, #10cec0 0%, #f5f2eb 50%, #f5f2eb 100%) no-repeat;
  background: -o-linear-gradient(top, #10cec0 0%, #f5f2eb 50%, #f5f2eb 100%) no-repeat;
  background-image: -ms-linear-gradient(-90deg, #10cec0, #f5f2eb 50%, #f5f2eb);
  background-size: 100% 100%; }

@media screen and (max-width: 980px) {
  #banner {
    height: 3.2rem; }

  #header {
    width: 100%;
    height: 2rem;
    margin-bottom: 1.2rem; }

  .separated_left .separated_right {
    display: none; }

  #main {
    width: 100%; } }

/*# sourceMappingURL=news_activition.css.map */
