@charset "utf-8";
//居中
$center:0 auto;
//字体样式
@mixin font($size,$weight,$lineheight,$color,$location){
    font-size:$size;
    font-weight:$weight;
    line-height:$lineheight;
    color:$color;
    text-align:$location;
}
//定位
@mixin position($type,$top,$right,$bottom,$left){    
    position:$type;  
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
}
//默认字体选中背景色和字体样色
::selection{
background:#1bba9e;
color:#fff;
}
//引入图标
@font-face {
  font-family: 'iconfont';  /* project id 186524 */
  src: url('//at.alicdn.com/t/font_t3mzhuhyrbsatt9.eot');
  src: url('//at.alicdn.com/t/font_t3mzhuhyrbsatt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_t3mzhuhyrbsatt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_t3mzhuhyrbsatt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_t3mzhuhyrbsatt9.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
/******************************************************************景区热线***************************************************************/
.t-sub_number{
    .tw_number{
        height:1rem;
        height:auto !important;
        min-height:1rem;  
        margin:0 auto;  
        padding:10% 2.5%;
        li{
            height:0.4rem;
            width:2.5rem;
            margin:0 auto;
            @include font(0.12rem,null,0.5rem,#3c3c3c,null);
             span:nth-child(1){
                 width:0.8rem;
                display:inline-block;
                height:100%;
            }
            span:nth-child(2){
                display:inline-block;
                height:100%;
            }
        }           
    }
    
}
/******************************************************************地图导航***************************************************************/
.t_sub_map{
    position:relative;
    width:100%;
    height:5rem !important;
    margin:0 auto;  
    padding:10% 2.5%;
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.button-group {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
    padding: 10px;
}

.button-group .button {
    height: 28px;
    line-height: 28px;
    background-color: #0D9BF2;
    color: #FFF;
    border: 0;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-bottom: 4px;
    cursor: pointer;
}
.button-group .inputtext {
    height: 26px;
    line-height: 26px;
    border: 1px;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-bottom: 4px;
    cursor: pointer;
}
#tip {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    font-size: 12px;
    right: 10px;
    top: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    line-height: 30px;
}
.amap-info-content {
    font-size: 12px;
}
#myPageTop {
    position: absolute;
    top: 5px;
    right: 10px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    margin: 10px auto;
    padding:6px;
    font-family: "Microsoft Yahei", "微软雅黑", "Pinghei";
    font-size: 14px;
}
#myPageTop label {
    margin: 0 20px 0 0;
    color: #666666;
    font-weight: normal;
}
#myPageTop input {
    width: 1.5rem;
}
#myPageTop .column2{
    padding-left: 25px;
}
#myPageTop{
    position: absolute;
    z-index:10;
    top:0;
    left:20%;
    transform: translateX(-60%);
    background: white;
    width:2.5rem;
}
#myPageTop a{
    display: inline-block;
    text-align: center;
    padding:0 0.02rem;
    color:#3C3C3C;
    font-size:0.18rem;
    line-height:0.2rem;
    text-decoration:none;
}
#myPageTop #show{
    display: block;
}
#myPageTop input{
    text-indent:1em;
    font-size:12px;
    border:1px solid #ccc;
    outline:none;
    background:none;
}
.pageShow h3{
    margin:20px 0 10px;
}
#myPageTop .pageShow a{
    height:0.3rem;
    @include font(0.14rem,null,0.3rem,#fff,center);
    color:white !important;
    padding:0.02rem;
    border-radius:0.05rem;
    background:#10cec0;
}
#panel {
    position: absolute;
    background-color: white;
    max-height: 90%;
    overflow-y: auto;
    top: 10px;
    right: 10px;
    width: 280px;
}
.infowindow-content{
    padding:12px 8px;
    color:#fff;
    background:url(../images/contact_map_title_bg.png);
    background-size:cover;
}
h3{
    font-family: "Microsoft YaHei";
}
.pageShow{
    display:none;
}
/*******************************************************************在线留言***************************************************************/
 .t-sub_message{
    padding:2.5%;
    #exampleInputEmail2{
        width: 100%;
        height: 2rem;        
 //      resize: none;
    }
 }  
