@charset "utf-8";
//iconfont 图标引入
@font-face {
  font-family: 'iconfont';  /* project id 186524 */
  src: url('//at.alicdn.com/t/font_rzkac8r3czb8olxr.eot');
  src: url('//at.alicdn.com/t/font_rzkac8r3czb8olxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_rzkac8r3czb8olxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_rzkac8r3czb8olxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_rzkac8r3czb8olxr.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
//动画   transition transform
@mixin transition($property,$duration,$timeing_function,$delay){
    -moz-transition: $property $duration $timeing_function,$delay; 
    -webkit-transition: $property $duration $timeing_function,$delay; 
    -o-transition: $property $duration $timeing_function,$delay; 
    transition:$property $duration $timeing_function,$delay;
}
@mixin transform($property){
    transform:$property;
    -ms-transform:$property; /* IE 9 */
    -webkit-transform:$property; /* Safari and Chrome */
}
//主题颜色
$color:#10cec0;
//居中
$center:0 auto;
//字体样式
@mixin font($size,$weight,$lineheight,$color,$location){
    font-size:$size;
    font-weight:$weight;
    line-height:$lineheight;
    color:$color;
    text-align:$location;
}
//定位
@mixin position($type,$top,$right,$bottom,$left){    
    position:$type;  
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
}
//多行文本溢出
@mixin ellipsis($count){
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $count;
    -webkit-box-orient: vertical;
}
//默认字体选中背景色和字体样色
::selection{
background:#1bba9e;
color:#fff;
}
*{  
    margin:0;
    padding:0;
}
body,html{
    @include position(relative,null,null,null,null);
    width:100%;
    height:100%;
    font-family: "Microsoft YaHei",SimSun,sans-serif;
    z-index:-1000;
    background: url(../images/bg.jpg) #f5f2eb top center no-repeat;
}
//头部导航
#header{
    position:relative;
    width:9.8rem;
    height:2rem; 
    margin:0 auto;  
    .logo{
        @include position(absolute,0.7rem,null,null,0.4rem);
        width:0.6rem;
        height:0.9rem;
        background:url(../images/logo3.png) no-repeat center center;
        background-size:100% 100%;
    }
    .header_nav1{
        width:100%;
        height:0.35rem;
        padding-top:0.15rem;
        li{
            float:right;
            width:0.7rem;
            height:0.2rem;
            a{
                display:block;
                float:right;
                width: 0.7rem;
                height:0.2rem;
                margin-right:0.2rem;                
                @include font(0.12rem,null,0.2rem,null,center);
                text-decoration: none;
                color:#3c3c3c;
            }
        }
    }    
    .header_nav2{
        float:right;
        margin-top:0.2rem;
        width:auto !important;
        min-width: 6rem;
        width:6rem;
        height:1.6rem;
        li{    
            float:left;
            width:0.9rem;
            width:auto !important;
            min-width:0.9rem;
            height:1.6rem;
            overflow: hidden;
            .level1{  
                display:block;
                float:left;
                width:0.9rem;
                height:1.6rem;
                box-sizing:border-box;
                color:#424242;
            }
            .level2{  
                display:block;
                float:left;
                width:0;
                height:1.6rem;
                writing-mode: tb-rl;
                box-sizing:border-box;
                color:#424242;
                text-align: center;
                text-decoration: none;
                @include font(0.14rem,null,0.2rem,null,center);
                overflow: hidden;
            }
        }
    }
}
//导航标签
#header .header_nav2 li .level1 .nav_title{
    width:0.4rem;
    height:80%;
    padding-top:20%;
    margin:0 auto;
    h1{
        float:left;
        width:0.2rem;
        height:100%;
        margin:0;
        @include font(0.18rem,null,0.2rem,null,null)
    }
    h5{
        float:left;
        width:0.2rem;
        height:0.2rem;
        margin:0;
        font-family: "Segoe UI",Arial,sans-serif;
        @include font(0.12rem,null,0.2rem,null,null);
        text-indent: 0.5em;
        transform: rotate(90deg);
        transform-origin:center 0.1rem;
        -ms-transform: rotate(90deg); /* IE 9 */
        -ms-transform-origin:center 0.1rem; /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari and Chrome */
        -webkit-transform-origin:center 0.1rem; /* Safari and Chrome */
    }
}
//导航条鼠标滑过样式改变
#header .header_nav2 li:hover{
    border-top:5px solid #8c8c8c;
    border-radius:0 0 0.1rem 0.1rem;
    color:white;
    background:rgba(0,0,0,.7) url(../images/nav_bg.png) no-repeat right bottom;
}
#header .header_nav2 li:hover a{
    color:white;
}
//内容区域
#main{
    width:12rem;
    height:6rem;
    height:auto !important;
    min-height:6rem;
    margin:0 auto;
    padding:0.5rem 0.1rem 0;
    .main_con{
        width:100%;
        height:6rem;
        height:auto !important;
        min-height:6rem;
        margin:0 auto;
        background:rgba(255,255,255,.3);
        padding: 19px;
        /* border: 1px solid #e3e3e3; */
        border-radius: 4px;
        .t_tickets{
            position:relative;
            width:100%;
            height:3rem;
            height:auto !important;
            min-height:3rem;
            padding:20px;
            background:white;       
            border-radius:4px;    
            .title_icon{
                width:0.6rem;
                height:0.6rem;
                margin:0 auto;
                background-image:url(../images/hotel.png);
                background-size:100% 100%;
                background-repeat:no-repeat;
            }
            .title_icon_ticket{
                width:0.6rem;
                height:0.6rem;
                margin:0 auto;
                background-image:url(../images/ticket.png);
            }
            .title_icon_food{
                width:0.6rem;
                height:0.6rem;
                margin:0 auto;
                background-image:url(../images/food.png);
            }
            .title_icon_route{
                width:0.6rem;
                height:0.6rem;
                margin:0 auto;
                background-image:url(../images/route.png);
            }
            .title_line{
                position:relative;
                width:100%;
                height:0.2rem;
                border-bottom:1px solid #ccc;
                margin-bottom:0.2rem;
                .title_info{
                    position:absolute;
                    left:0;
                    right:0;
                    bottom:-0.15rem;
                    width:1.2rem;
//                  width:auto !important;
//                  min-width:1.2rem;
                    height:0.3rem;
                    background:white;
                    margin:0 auto;
                    text-align:center;
                    a{
                        display:inline-block;
                        width:1.2rem;
                        height:100%;
                        @include font(0.24rem,null,0.3rem,$color,center);
                    }
                }
                .more{
                    float:right;
                    width:0.8rem;
                    height:100%;
                    padding:0 0.1rem;
                    @include font(0.16rem,null,0.16rem,null,center);
                    a{
                        color:#333;
                        margin-bottom:0.05rem;
                        span{   
                            margin:0 0.05rem;  
                            with:0.16rem;
                            height:0.16rem;       
                            @include font(0.12rem,600,0.16rem,null,center);
                        }
                    }

                }
            }
            .ol_order{
                width:100%;
                height:2.4rem;
                height:auto !important;
                min-height:2.4rem;
                padding:0.1rem 0;   
                margin:0;             
//----------------------------------- 票务预订   -----------------------------------------// 
                .ol_order_left{
                    border:0;
                    margin:0;
                    padding:0;
                    .thumbnail{
                        width:100%;
                        height:100%;
                        overflow: hidden;
                        border:0;
                        .change_scenic{
                            float:left;
                            width:100%;
                            height:0.5rem;
                            height:auto !important;
                            min-height:0.5rem;                            
                            li{
                                float:left;
                                width:50%;
                                height:100%;
                                vertical-align: middle;
                                //writing-mode: tb-rl;
                                line-height:0.4rem;
                                border-top:5px solid #ccc;
                                box-sizing: border-box;
                                @include font(0.16rem,null,null,#696969,center);
                            }
                            .change_scenic_active{
                                border-top:5px solid #ccc;
                                color:white;
                                background:$color;
                            }
                        }
                        .t_online_ticket{
                            float:left;
                            margin-left:2%;
                            width:100%;
                            height:2.5rem;
                            padding:5% 5% 5% 5%;                            
                            @include font(0.14rem,null,null,#696969,null);
                            h5{
                                width:100%;
                                margin:0.1rem auto 0.1rem;
                            }
                            li{
                                width:100%;
                                height:0.24rem; 
                                list-style:none;       
                                span{
                                    float:left;
                                    display:block;
                                    width:20%;
                                    height:100%;
                                    @include font(0.24rem,null,0.24rem,null,center);
                                    border-left:0;
                                    cursor:pointer;
                                }
                                input{
                                    float:left;
                                    display:block;
                                    width:80%;
                                    height:100%;
                                    margin:0;
                                    font-size:0.12rem;
                                    text-indent:1em;
                                    color:white;
                                    border: 1px solid #ccc;
                                    box-sizing:border-box;
                                    background:none;
                                    outline:none;
                                }
                                //下拉菜单
                                .form-control{
                                    width:100%;
                                    height:100%;
                                    margin:0;
                                    padding:0;
                                    font-size:0.12rem;
                                    text-indent:1em;
                                    background:none;
                                    border: 1px solid #ccc;
                                    border-radius: 0;
                                    outline:none;
                                    option{
                                        text-indent:1em;
                                        text-align: center;   
                                        height:0.14rem;                         
                                    }
                                }
        
                            }
                            li:nth-of-type(3){
//                              border-bottom:1px solid #ccc;
                            }
                            .t_order{
                                margin-top:0.4rem;
                                input{
                                    height:0.24rem;
                                    float:right;
                                    width:40%;
                                    color:#fff;
                                    text-indent: 0;
                                    border-radius: 0.12rem;
                                    background:$color;
                                    border:0;
                                }
                            }
                        }    
                    }
                }
                //预订右边景点展示
                .ol_order_right{
                    height:3rem;
                    height:auto !important;
                    min-height:3rem;
                    padding:0;
                    margin:0;              
                    .scenic_img{
                        position:relative;
                        height:1.475rem;
                        margin:0;
                        padding:0;
                        overflow: hidden;
                        
                        img{
                            display:block;
                            width:100%;
                            height:100%;
                            -moz-transition:all 0.8s;
                            -webkit-transition: all 0.8s;
                            transition:all 0.8s;
                        }
                        img:hover{
                            -moz-transform:scale(1.1,1.1) ;
                            -webkit-transform:scale(1.1,1.1) ;
                            transform:scale(1.1,1.1);
                        }
                        .scenic_info{
                            position:absolute;
                            left:0;
                            top:0;
                            right:0;
                            bottom:0;
                            margin:auto;
                            width:1rem;
                            height:1rem;
                            border-radius:0.5rem;
                            background:rgba(0,0,0,.4);
                            @include font(0.12rem,null,0.2rem,white,center);
                            cursor:pointer;
                            h5{
                                width:80%;
                                height:0.24rem;
                                min-height:0.24rem;
                                height:auto !important;
                                margin:0.3rem auto 0;
                                font: 700 0.18rem/1.2 "Microsoft yahei";
                                border-bottom:1px solid rgba(255, 255, 255, 0.5);
                            }
                            p>a{
                                @include font(0.16rem,null,0.2rem,#f60,center);
                                font: 0.22rem/1.5 tahoma;
                                color: #f60;
                                dfn{
                                    vertical-align: 5px;
                                    font: 10px/1.5 arial;
                                    color:white;
                                }
                                i{
                                    color:white; 
                                    font: 12px/1.5 "Microsoft yahei";
                                }
                               
                            }
                        }
                    }
                    .scenic_img:nth-child(1),.scenic_img:nth-child(2){
                       margin-bottom:0.05rem;                       
                    }
                    .scenic_img:nth-child(2n){
                        padding-left:0.025rem;
                    }
                    .scenic_img:nth-child(2n+1){
                        padding-right:0.025rem;
                    }
                }
                .ol_order_right2{                    
                    height:3rem;
                    padding:0;
                    margin:0;
                    padding-left:0.05rem;
                    .scenic_img{
                        position:relative;
                        width:100%;
                        height:100%;
                        overflow:hidden;
                        img{
                            display:block;
                            width:100%;
                            height:100%;
                            -moz-transition:all 0.8s;
                            -webkit-transition: all 0.8s;
                            transition:all 0.8s;
                        }
                        img:hover{
                            -moz-transform:scale(1.1,1.1) ;
                            -webkit-transform:scale(1.1,1.1) ;
                            transform:scale(1.1,1.1);
                        }
                        div{
                            position:absolute;
                            left:0;
                            bottom:0;
                            width:100%;
                            height:0.5rem;
                            background:rgba(0,0,0,.5);
                            @include font(0.14rem,null,0.5rem,white,null);
                            text-indent:1em;
                            a{
                                float:right;
                                margin-right:1em;
                                color:#f66;
                            }
                        }
                    }
                    
                }
                
//----------------------------------- 酒店住宿   -----------------------------------------//           
                .accommodation{
                    width:100%;
                    height:3rem;
                    height:auto !important;
                    min-height:3rem;
                    margin:0;
                    padding:0;
                    .hotel_box{
                        height:3rem;                        
                        padding:0;
                        margin:0;
                        .hotel_list{
                            height:100%;
                            margin:0;
                            padding:0;
                            li{
                                position:relative;
                                width:100%;
                                height:0.6rem;
                                padding-left:0.6rem;
                                border:1px solid #696969;
                                border-right:none;
                                border-bottom:none;
                                box-sizing:border-box;
                                color:#333;
                                em{
                                    display:block;
                                    position:absolute;
                                    left:0;
                                    top:0;
                                    width:0.6rem;
                                    height:0.6rem;
                                    @include font(0.4rem,null,0.6rem,null,center);
                                }
                                h5{
                                    padding:0.05rem 0 0 0.1rem;
                                    margin:0;
                                     @include font(0.16rem,null,0.16rem,null,left);
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                p{
                                    @include font(0.14rem,null,0.16rem,null,left);
                                    padding:0.15rem 0 0 0.1rem;
                                    margin:0;
                                    span{
                                        font-size:0.16rem;
                                        font-weight:600;
                                    }
                                }
                            }
                            .hotel_list_active{
                                background:#007AFF;
                                color:white;
                            }
                            li:nth-child(5){
                                border-bottom:1px solid #333;
                            }
                        }
                        .hotel_img{
                            height:100%;
                            margin:0;
                            padding:0;
                            li{
                                position:relative;
                                width:100%;
                                height:100%;
                                overflow:hidden;
                                img{
                                    display:block;
                                    width:100%;
                                    height:100%;
                                    transition:all 0.8s;
                                }
                                img:hover{
                                    transform: scale(1.2,1.2);
                                }
                                .img_info{
                                    position:absolute;
                                    bottom:0;
                                    left:0;
                                    width:100%;
                                    height:30%;
                                    padding:5% 5% 0;
                                    background:rgba(0,0,0,.3);
                                    p{
                                        width:100%;
                                        height:0.4rem;
                                        padding:0 5%;
                                        @include ellipsis(2);
                                        @include font(0.14rem,null,0.2rem,white,null);
                                        text-indent:2em;
                                        margin:0;
                                    }
                                    a{
                                        float:right;
                                        color:#f35a42;
                                    }
                                   
                                }
                                
                            }
                        }
                    }
                    .hotel_hot{
                        height:3rem;
                        padding:0;
                        margin:0;
                        a{
                            position:relative;
                            display:block;
                            width:98%;
                            height:49%;
                            margin-bottom:2%;
                            margin-left:2%;
                            overflow: hidden;
                            img{
                                display:block;
                                width:100%;
                                height:100%;
                                -moz-transition:all 0.8s;
                                -webkit-transition: all 0.8s;
                                transition:all 0.8s;
                            }
                            img:hover{
                            -moz-transform:scale(1.1,1.1) ;
                            -webkit-transform:scale(1.1,1.1) ;
                            transform:scale(1.1,1.1);
                            }
                            .img_info2{
                                position:absolute;
                                left:0;
                                bottom:0;
                                width:100%;
                                height:30%;
                                color:white;
                                background:rgba(0,0,0,.3);
                                h5{
                                    width:100%;
                                    height:100%;
                                    padding:5% 5%;
                                    margin:0;
                                    em,span{
                                        display:inline-block;
                                        float:right;
                                    }
                                }
                            }
                        }

                    }
                }
                
//----------------------------------- 餐饮美食   -----------------------------------------// 
                .food{
                    width:100%;
                    height:2rem;
                    height:auto !important;
                    min-height:2rem;
                    margin:0;
                    padding-top:0.2rem;
                    .food_box{
                        height:100%;
                        .food_img_list{
                            display:block;
                            width:1.5rem;
                            height:1.5rem;
                            margin:0 auto 0.2rem;
                            padding:2.5%;
                            border-radius: 1rem;
                            background:white;
                            box-shadow:0 0 0.06rem 0.06rem rgba(0,0,0,.3);
                            overflow:hidden;
                            img{
                                display:block;
                                width:100%;
                                height:100%;
                                border-radius: 50%;
                            }
                        }
                        h5{
                            width:100%;
                            height:0.3rem;
                            margin:0.1rem 0;
                            @include font(0.20rem,null,0.3rem,#333,center);                                
                        }
                        button{
                            display:block;
                            width:40%;
                            height:0.3rem;
                            margin:0.2rem auto 0.1rem;
                            @include font(0.14rem,null,0.3rem,#fff,center);
                            border-radius: 0.1rem;
                            border:0;
                            background:$color;
                        }
                    }
                    
                }
//----------------------------------- 线路查询   -----------------------------------------// 
                .route{
                    width:100%;
                    height:2rem;
                    height:auto !important;
                    min-height:2rem;
                    margin:0;
                    list-style: none;
                    overflow: hidden;
                    //选项卡
                    .route_change{
                        height:3rem;
                        margin:0;
                        padding:0;
                        background:url(http://vip.hailuogou.com/style/w/images/index/xl-img1.jpg);
                        background-size:100% 100%;
                        h5{
                            display:block;
                            width:80%;
                            height:0.3rem;
                            margin:0.2rem auto 0;
                            @include font(0.2rem,null,0.3rem,#fff,center);
                        }
                        ul{
                            width:100%;
                            height:2rem;
                            height:auto !important;
                            min-height:2rem;
                            li{
                                width:1rem;
                                height:0.3rem;
                                height:auto !important;
                                min-height:0.3rem;
                                margin:0.2rem auto 0;                                
                                @include font(0.16rem,500,0.3rem,#fff,center);
                                border-radius:0.15rem;
                            }
                            li:hover{
                                background:$color;
                            }
                        }
                    }
                    //推荐线路景点介绍
                   .route_box{
                       height:2.7rem;
                       padding:0;
                       margin:0;
                       margin-top:0.15rem;
                       .route_list{
                           float:left;
                           width:30%;
                           margin-left:3.333%;
                           height:100%;
                           box-shadow:0.02rem 0.02rem 0.05rem  rgba(0,0,0,0.5);
                           @include transition(all,0.3s,ease-in-out,null);
                           .route_img{
                               with:100%;
                               height:1.6rem;
                               img{
                                   display:block;
                                   width:100%;
                                   height:100%;
                               }
                           }
                           h5{
                               padding:0 5%;
                               font-size:0.16rem;
                           }
                           p{
                              width:100%;
                              height:0.4rem;
                              padding:0 5%;
                              @include font(0.14rem,null,0.2rem,#666,null);
                              text-indent:2em;
                              @include ellipsis(2);
                           }
                           a{
                               float:right;
                               margin-right:5%;
                               color:$color;
                           }
                       }
                       .route_list:hover{
                           @include transform(scale(1.05,1.05));
                           box-shadow:none;
                       }
                   }
                }
            }
        }
    }
}
#footer{
    width:100%;
    height:1.7rem;
    //background:rgba(0,0,0,.7);
    font-family: arial,\5b8b\4f53;
    .footer_box{
        width:12rem;
        height:1.7rem;
        margin:$center; 
        font-family: "微软雅黑";
        padding:0 0.3rem;
        //color:#c2c2c2;  
        color:#7d7159;    
        h3{
            width:100%;
            height:0.3rem;
            margin-bottom: 0.2rem;
            box-sizing: border-box;
            padding-bottom: 0.1rem;
            font-size:0.14rem;
            border-bottom: 1px #7d7159 solid;
            strong,a{
                display:block;
                float: left;
                margin-right: 0.06rem;
                margin-top:0.05rem;
                line-height: 0.2rem;
                font-weight:400;
                //color:#c3c3c3;
                color:#7d7159;
            }
            a{
                color:#7d7159;
            }
        }
        .footer_con{
           width:100%;
           height:1.2rem; 
           .footer_con_left{
               float:left;
               width:4.8rem;
               height:1.2rem;
               p{
                    float: left;
                    width: 100%;
                    font-size:12px;
                    line-height: 0.2rem;
                    overflow: hidden;
                    word-wrap: break-word;
                    word-break: break-all;
                    text-align: justify;
               }
           }
           .footer_con_right{
               float:right;
               width:4.3rem;
               height:0.8rem;
               margin-left:0.7rem;
               img{
                   display:block;
                    width:100%;
                    height:100%;
               }
           }
        }
    }
   
}

#t_bg_top{
    z-index: -1111;
    @include position(absolute,0,null,null,0);
    width:100%;
    height:6rem;
    background: -webkit-linear-gradient(top, $color 0%,#f5f2eb 50%,#f5f2eb 100%) no-repeat;
    background-size:100% 100%;
}
@media screen and (max-width: 980px) {
    #banner{
        height:3.2rem;
    }
    #header{
        width:100%;
        height:2rem; 
        margin-bottom:1.2rem;       
    }
    .separated_left .separated_right{
        display:none;
    }
    #main{
        width:100%;
    }
}