@charset "utf-8";
//主题颜色
$color:#10cec0;
//居中
$center:0 auto;
//字体样式
@mixin font($size,$weight,$lineheight,$color,$location){
    font-size:$size;
    font-weight:$weight;
    line-height:$lineheight;
    color:$color;
    text-align:$location;
}
//定位
@mixin position($type,$top,$right,$bottom,$left){    
    position:$type;  
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
}
//多行文本溢出
@mixin ellipsis($count){
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $count;
    -webkit-box-orient: vertical;
}
//默认字体选中背景色和字体样色
::selection{
background:#1bba9e;
color:#fff;
}
//引入图标
@font-face {
  font-family: 'iconfont';  /* project id 186524 */
  src: url('//at.alicdn.com/t/font_x7vlplmhkc5wmi.eot');
  src: url('//at.alicdn.com/t/font_x7vlplmhkc5wmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_x7vlplmhkc5wmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_x7vlplmhkc5wmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_x7vlplmhkc5wmi.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
/***游客须知start****/                                              
.t-sub_news{
    .t_sub_conimg{
        width:80%;
        height:3rem;
        margin:0.5rem auto;
            img{
                display:block;
                width:100%;
                height:100%;
            }
    };
    .tw_news{
        width:90%;
        height:2.4rem;
        height:auto !important;
        min-height:2.4rem;  
        margin:0 auto; 
        li{
            width:100%;
            border-bottom:1px dashed #ccc;
            a{
                display:block;
                width:100%;
                height:0.4rem;
                @include font(0.14rem,null,0.4rem,#333,null);
                span:nth-child(1){
                    display:block;
                    float:left;
                }
                span:nth-child(2){
                    display:block;
                    float:right;
                }
            }
        }
    }
}
/***游客须知end****/ 
/***门票价格start****/                                                    
.t_tickets_price{
    display:flex;
    display:-ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap:wrap;
    justify-content:space-around;
    -ms-flex-pack: justify;//ie10
    width:100%;
    height:4rem;
    height:auto !important;
    min-height:4rem;
    padding:5% 0;
    .t_ticketsbox{
        display:block;
        width:1.5rem;
        height:1.5rem;
        margin:0;
        padding:0;
        margin-bottom:0.5rem;
        .t_tickets_list{
            position:relative;
            width:100%;
            height:100%;
            border-radius:0.1rem;
            overflow: hidden;
            img{
                display:block;
                width:100%;
                height:100%;
            }
            .t_tickets_info1{
                @include position(absolute,0,0,0,0);
                margin:auto;  
                width:1rem;
                height:1rem;
                border-radius:0.5rem;
                background:rgba(0,0,0,.4);
                cursor:pointer;
                transition:all 1s;
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
                h5{
                    width:80%;
                    height:0.24rem;
                    min-height:0.24rem;
                    height:auto !important;
                    margin:0.3rem auto 0;
                    font: 700 0.18rem/1.2 "Microsoft yahei";
                    text-align:center;
                    color:white;
                    border-bottom:1px solid rgba(255, 255, 255, 0.5);
                }  
                p{
                    width:100%;
                    height:0.3rem;
                    @include font(0.2rem,600,0.3rem,#af370a,center);
                    em{
                        font-size:0.12rem;
                    }
                }            
            }
            .t_tickets_info2{
                @include position(absolute,0,null,null,0);
                width:100%;
                height:100%;
                @include font(0.12rem,null,0.2rem,white,null);
                background:rgba(0,0,0,.5);
                transition:all 1s;
                -webkit-transform: scale3d(0, 0, 0);
                transform: scale3d(0, 0, 0);
                border-radius:0.1rem;
                p{
                    width:80%;
                    height:0.8rem;
                    margin:0.3rem auto;
                    font-size:0.12rem;
                    overflow:hidden;
                    @include ellipsis(4);               
                }
            }
        }
        .t_tickets_list:hover .t_tickets_info1{
            -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
        }
        .t_tickets_list:hover .t_tickets_info2{
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }  
} 
/***门票价格end****/   
/***旅游攻略start****/                                                
.t-sub_strategy{
    .t_sub_strategyimg{
        width:80%;
        height:3rem;
        margin:0.5rem auto;
            img{
                display:block;
                width:100%;
                height:100%;
            }
    };
    .tw_strategy{
        width:90%;
        height:2.4rem;
        height:auto !important;
        min-height:2.4rem;  
        margin:0 auto; 
        li{
            width:100%;
            border-bottom:1px dashed #ccc;
            a{
                display:block;
                width:100%;
                height:0.4rem;
                @include font(0.14rem,null,0.4rem,#333,null);
                span:nth-child(1){
                    display:block;
                    float:left;
                }
                span:nth-child(2){
                    display:block;
                    float:right;
                }
            }
        }
    }
} 
/***旅游攻略end****/  
/***导游服务start****/
.t_guiderNum{
    width:100%;
    height:0.8rem;
    margin:0;
    padding:0.2rem 0 0.1rem 0;
    dt{
        float:right;
        width:0.5rem;
        height:0.5rem;
        margin-right:0.1rem;
        span{
            display:block;
            width:0.5rem;
            height:0.5rem;
            @include font(0.4rem,null,0.5rem,$color,center);
            animation:tada 1s infinite;
            background:url(../images/guideSerNum.png) no-repeat center center;
            background-size:100% 100%;
        }
    }
    dd{
        float:right;
        width:1rem;
        width:auto !important;
        min-width:1rem;
        height:0.5rem;
        margin-right:0.2rem;
        span{
            display:block;
            width:100%;
            height:50%;
            @include font(0.14rem,null,0.25rem,#696969,null);
        }
        span:nth-child(2){
            line-height:0.2rem;
        }
    }
} 
.t_guider{
    width:100%;
    height:4rem;
    height:auto !important;
    min-height:4rem;
    .t_guiderbox{
        display:block;
        height:1.5rem;
        margin:0;
        padding:0;
        margin-bottom:0.5rem;
        .t_guider_list{
            width:100%;
            height:100%;
            box-shadow:0 0 0.05rem 0.05rem rgba(0,0,0,0.1);
            img{
                float:left;
                display:block;
                width:2rem;
                height:1.5rem;
            }
            .t_guider_infodetail{
                float:left;
                width:1.2rem;
                height:1.5rem;
                padding:0.15rem;
                p{
                    width:100%;
                    height:0.2rem;
                    height:auto !important;
                    min-height:0.2rem;
                    margin:0;
                    padding:0;
                    @include font(0.14rem,null,0.24rem,#3c3c3c,null);
                    border-bottom:1px dashed #ccc;
                }
            }
            .t_guider_infodetail2{
                float:left;
                width:3.8rem;
                height:1.2rem;
                margin-top:0.15rem;
                padding-right:0.15rem;
                @include font(0.14rem,null,0.2rem,#3c3c3c,null);
                overflow: auto;
                text-indent:2em;
                -ms-overflow-style:none;
                overflow:-moz-scrollbars-none;
                //overflow-y:hidden ;
            }
            .t_guider_infodetail2::-webkit-scrollbar {display:none}            
        }
    }          
} 
/***导游服务end****/
/***订票系统start****/
.orderEntry{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    width:100%;
    height:4rem;
    height:auto !important;
    min-height:4rem;
    padding:5% 0;
    .entryItemCon{
        display:block;
        width:1.5rem;
        height:1.5rem;
        margin:0;
        padding:0;
        margin-bottom:0.5rem;
        .entryItem{
            position:relative;
            width:100%;
            height:100%;
            border-radius:0.1rem;
            overflow: hidden;
            img{
                display:block;
                width:100%;
                height:100%;
            }
            .entryItem_info1{
                @include position(absolute,0,null,null,0);
                width:100%;
                height:100%;
                @include font(0.18rem,600,1.5rem,#af370a,center);
                background:rgba(0,0,0,.2);
                transition:all 1s;
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
                border-radius:0.1rem;
            }
            .entryItem_info2{
                @include position(absolute,0,0,0,0);
                margin:auto;  
                width:1rem;
                height:1rem;
                @include font(0.18rem,600,1rem,white,center);
                border-radius:0.5rem;
                background:rgba(0,0,0,.4);
                cursor:pointer;
                transition:all 1s;
                -webkit-transform: scale3d(0, 0, 0);
                transform: scale3d(0, 0, 0);
            }
        }
        .entryItem:hover .entryItem_info1{
            -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
        }
        .entryItem:hover .entryItem_info2{
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }  
} 
/***订票系统end****/
/***交通系统start****/
.trafEntry{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    width:100%;
    height:4rem;
    height:auto !important;
    min-height:4rem;
    padding:5% 0;
    .entryItemCon{
        display:block;
        width:1.5rem;
        height:1.5rem;
        margin:0;
        padding:0;
        margin-bottom:0.5rem;
        .entryItem{
            position:relative;
            width:100%;
            height:100%;
            border-radius:0.1rem;
            overflow: hidden;
            img{
                display:block;
                width:100%;
                height:100%;
            }
            .entryItem_info1{
                @include position(absolute,0,null,null,0);
                width:100%;
                height:100%;
                @include font(0.18rem,600,1.5rem,#af370a,center);
                background:rgba(0,0,0,.2);
                transition:all 1s;
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
                border-radius:0.1rem;
            }
            .entryItem_info2{
                @include position(absolute,0,0,0,0);
                margin:auto;  
                width:1rem;
                height:1rem;
                @include font(0.18rem,600,1rem,white,center);
                border-radius:0.5rem;
                background:rgba(0,0,0,.4);
                cursor:pointer;
                transition:all 1s;
                -webkit-transform: scale3d(0, 0, 0);
                transform: scale3d(0, 0, 0);
            }
        }
        .entryItem:hover .entryItem_info1{
            -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
        }
        .entryItem:hover .entryItem_info2{
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }  
} 
/***交通系统end****/
/**动画**/
@-webkit-keyframes tada{
  10%, 20% {
    -webkit-transform:  rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform:rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -3deg);
  }
}
@keyframes tada{
  10%, 20% {
    -webkit-transform:  rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform:rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
}
